*{
    margin: 0;
    margin-left: 0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
   }
   
   .container{
       position: relative;
       display: flex;
   }
   
   #main-content{
    margin-top: -1%;
}

    #main-content2{
    margin-top: -1%;
}    

   .Navigation{
       position:fixed;
       padding:50px;
       width:20%;
       height:100vh;
       display:flex;
       flex-direction: column;
       background-color: black;
       overflow: hidden;
       cursor: pointer;
       margin-left: -20%;
       margin-block-start: 0%;
   }

   .Panel1{
    margin-left: -3%;
    width:47%;
    padding:25px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: -1%;
    }

   .Panel2{
    padding:25px;
    width:49%;
    margin-left: 48%;
    margin-top: -163.75%;
    border-bottom: 2px solid black;
}

    .Panels{
    padding:10px;
    width:113%;
    margin-left: 13%;
    margin-right: -43%;
    margin-bottom: 1.3%;
}
   
   .graphs{
    margin-top: 800px;
    padding:15px;
    }

   .start{
       margin-bottom: 15%;
       color: aliceblue;
   }

   .dash-dropdown{
    padding-bottom:10px;
    width: 100%;
    margin-left: 0%;
    align-items: center;
}

